.title1{
font-size: 17px;
font-weight: 800;
margin-bottom: 50px;
color:#228b22 ;

    
}
.title2{
    font-size:medium;
    font-weight: 400;
    margin-top: 10px;
    
    
    
        
    }
    #post-list1{

                margin-bottom: 20px;
                }
   
a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
        }
          
a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }
a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
.btn-primary{

    margin-top: 20px;
    background-color: #228b22;
}
.form-check-label {

    margin-top: 12px;
}
.form-check-input{

    margin-top: 16px;
    
}
#First_Name,#Last_Name,#User_Name,#inputEmail4,#inputPassword1,#inputPassword2,#inputAddress,#inputAddress2,#Postal_code,#telephone1,#telephone2,#inputEmail4,#District,#Province{

    border-color: #228b22;
    border-radius: 5px;
    background-color: white;
    margin-left: auto;
    
    
}
.lable{

    font-weight: 800;
    margin-top: 20px;
    font-size: larger;
    color: rgb(110, 110, 110);

}
